* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background: none;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #b4b4cf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b4b4cf;
}
::-webkit-scrollbar-vertical {
  width: 5px;
  height: 5px;
  background: none;
  max-width: 145.64px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #b4b4cf;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: #b4b4cf;
}
